<nav style="background-color: blanchedalmond;" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container"  class="brand-logo" style="color:black; font-family:sans-serif;"> Project D256: Chat Roll Dices</a>
    <ul  class="right hide-on-med-and-down">
      <li><a style="color:black;" href="https://github.com/pabloalarconm">Semantic Freak project web page</a></li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
    <div class="row">
        <div class="col-auto mb-3" >
            <div class="card" style="width: 25rem;height: 12rem; background-color: #e0e0e0">
                <div class="card-body">
                    <h5 class="card-title"> Choose the Player: </h5>
                    <select class="form-select" aria-label="Default select example" [(ngModel)] = "msg_user">
                        <option selected>Choose the player</option>
                        <option value="Pablo">Pablo</option>
                        <option value="Maria">Maria</option>
                        <option value="Elena">Elena</option>
                        <option value="Carlos">Carlos</option>
                        <option value="Adrian">Adrian</option>
                        <option value="Invitado1">Invitado1</option>
                        <option value="Invitado2">Invitado2</option>
                        <option value="Invitado3">Invitado3</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="width: 25rem; height: 12rem; background-color: #e0e0e0 ;">
                <div class="card-body">
                    <h5 class="card-title">Roll the dices!</h5>
                    <button type="button" class="btn btn-primary btn-block" style="width: 23rem; background-color: #0084d1;" (click)="enviarMensaje()" >Roll</button>
                    <br>
                    <button type="button" class="btn btn-primary btn-block" style="width: 23rem; background-color: #d3564b" (click)="limpiarMensaje()" >Limpiar</button>
                </div>
            </div>
        </div>

    </div>
</div>

<aside style="width: 25%;
padding-left: 15px;margin-left: 15px;
float: right;background-color:  #A9443B;">

          <div class="card-body" style="height:100 rem;">
            <h5 class="card-title">Dice Results:</h5>
            <hr>
            <ul class="list-group list-group-flush" style="display: flex; flex-direction: column-reverse; width: 95%; height: 50rem; overflow-y: scroll;">
              <li class="list-group-item" *ngFor="let mensaje of mensajes" style="color: darkblue; background-color:#d3564b;">{{mensaje}}</li>
            </ul>
            
          </div>
</aside>


<div class="container mt-4">
    <div class="row">
        <div class="col-auto mb-3">
            <div class="card" style="width: 25rem;height: 12rem; background-color: #d3564b">
                <div class="card-body">
                    <div class="card-image">
                        <img src="/assets/d20.png" style="height:100px; width:100px;">
                        <span class="card-title" style="left: 100px; color: black;">D20</span>
                    </div>
                    <input type="number" class="form-control" placeholder="Click the number of dices" [(ngModel)] = "msg_20"/>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 25rem;height: 12rem;background-color: rgb(156, 211, 245)">
                <div class="card-body">
                    <div class="card-image">
                        <img src="/assets/D12.png" style="height: 100px; width: 100px;">
                        <span class="card-title" style="left: 100px; color: black;">D12</span>
                    </div>
                    <input  type="number" class="form-control" placeholder="Click the number of dices" [(ngModel)] = "msg_12"/>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 25rem;height: 12rem;background-color: #f88663 ">
                <div class="card-body">
                    <div class="card-image">
                        <img src="/assets/d10.png" style="height: 100px; width: 100px;">
                        <span class="card-title" style="left: 100px; color: black;">D10</span>
                    </div>
                    <input  type="number" class="form-control" placeholder="Click the number of dices" [(ngModel)] = "msg_10"/>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 25rem;height: 12rem;background-color: lightgrey">
                <div class="card-body">
                    <div class="card-image">
                        <img src="/assets/d100.png" style="height: 100px; width: 100px;">
                        <span class="card-title" style="left: 100px; color: black;">D100</span>
                    </div>
                    <input  type="number" class="form-control" placeholder="Click the number of dices" [(ngModel)] = "msg_100"/>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 25rem; height: 12rem;background-color: rgb(121, 118, 118);">
                <div class="card-body">
                    <div class="card-image">
                        <img src="/assets/d8.png" style="height: 100px; width: 100px;">
                        <span class="card-title" style="left: 100px; color: black;">D8</span>
                    </div>
                    <input  type="number" class="form-control" placeholder="Click the number of dices" [(ngModel)] = "msg_8"/>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 25rem;height: 12rem; background-color: rgb(238, 124, 124)">
                <div class="card-body">
                    <div class="card-image">
                        <img src="/assets/d6.png" style="height: 100px; width: 100px;">
                        <span class="card-title" style="left: 100px; color: black;">D6</span>
                    </div>
                    <input  type="number" class="form-control" placeholder="Click the number of dices" [(ngModel)] = "msg_6"/>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 25rem;height: 12rem;background-color: rgb(159, 238, 159)">
                <div class="card-body">
                    <div class="card-image">
                        <img src="/assets/d4.png" style="height: 100px; width: 100px;">
                        <span class="card-title" style="left: 100px; color: black;">D4</span>
                    </div>
                    <input  type="number" class="form-control" placeholder="Click the number of dices" [(ngModel)] = "msg_4"/>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="width: 25rem;height: 12rem;background-color:#f3f3a1">
                <div class="card-body">
                    <div class="card-image">
                        <img src="/assets/d2.png" style="height: 100px; width: 100px;">
                        <span class="card-title" style="left: 100px; color: black;">D2</span>
                    </div>
                    <input  type="number" class="form-control" placeholder="Click the number of dices" [(ngModel)] = "msg_2"/>
                </div>
            </div>
        </div>


    </div>
</div>


<footer class="page-footer" style="position:absolute; bottom:0; width: 100%;background-color: blanchedalmond;">
<div class="footer-copyright">
  <div class="container" style="color: black;"> Made by 
    <a class="brown-text text-blue" href="https://github.com/pabloalarconm">Pablo Alarcón</a>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
